@using GSP.BLL.Resources
@model bool

<div class="container" ng-controller="gameController" @(Model ? "ng-init=getGames();getCategories();" : $"ng-init=loadCustomerGame('{User.Identity.Name}');getCategories();")>
    <toaster-container></toaster-container>
    <div class="row">
        <div class="col-md-3 filter-block">
            <h3 class="margin-top-2">@Labels.Filters: <button class="btn btn-xs btn-danger pull-right">@Commands.ClearFilters</button></h3>
            <div class="form-group">
                @if (Model)
                {
                    <h4>@Labels.Mode:</h4>
                    <div class="form-group">
                        <div class="dropdown fluid">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{outputModeText}}
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" ng-click="outputMode = 0">@Labels.AllGames</a>
                                </li>
                                <li>
                                    <a href="" ng-click="outputMode = 1">@Labels.TopSellGames</a>
                                </li>
                                <li>
                                    <a href="" ng-click="outputMode = 2">@Labels.TopRateGames</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr />
                }
                <h4>@Labels.Categories:</h4>
                <div class="form-group">
                    <div ng-repeat="categoryObject in category">
                        <input class="category-value" type="checkbox" data-category-id="{{categoryObject.CategoryId}}" ng-click="filterGames()" />
                        <label>{{categoryObject.Name}}</label>
                    </div>
                </div>
                <hr />
                <h4>@Labels.Title:</h4>
                <div class="form-group">
                    <div class="ui icon input fluid">
                        <input type="text" placeholder="@Labels.Search" ng-model="searchValue" ng-change="filterGames()">
                        <i class="circular search link icon"></i>
                    </div>
                </div>
                <h4>@Labels.PriceRange:</h4>
                <div class="form-group">
                    <rzslider rz-slider-model="StartPrice" rz-slider-high="EndPrice" rz-slider-options="SliderSettings.options"></rzslider>
                </div>
            </div>
        </div>
        <div class="col-md-9">

            <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm margin-top-0" boundary-link-numbers="true" rotate="false" items-per-page="itemsPerPage" ng-click="filterGames();" next-text="@Commands.NextItem" previous-text="@Commands.PreviousItem"></ul>

            <div class="form-group">
                <div class="ui four column grid">
                    <div class="column" ng-repeat="game in Games">
                        <div class="ui card">
                            <div class="image">
                                <img ng-src="{{game.PhotoData}}" alt="{{game.PhotoData}}">
                            </div>
                            <div class="content">
                                <div class="header">{{game.Name}}</div>
                                <div class="header">@Entities.Game_Category:{{game.CategoryName}}</div>

                                <div class="description">
                                    <a ng-href="/Game/GameProfile?gameId={{game.GameId}}">@Labels.MoreDetails</a>
                                    <div class="pull-right ui red tag labels" style="display:inline-block; margin-left: 5px">
                                        <a class="ui label">
                                            ${{game.Price}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui two bottom attached buttons">
                                @if (Model)
                                {
                                    <div class="ui button" ng-click="addToBucket('@User.Identity.Name',game.GameId)">
                                        <i class="add to cart icon"></i>
                                        @Commands.Buy
                                    </div>
                                }
                                else
                                {
                                    <div class="ui button">
                                        @Commands.Load
                                    </div>
                                }
                                    <a class="ui primary button" target="_blank" ng-href="https://www.youtube.com/results?search_query={{game.Name}}">
                                        @Commands.Watch
                                    </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm margin-top-0" boundary-link-numbers="true" rotate="false" items-per-page="itemsPerPage" ng-click="filterGames();" next-text="@Commands.NextItem" previous-text="@Commands.PreviousItem"></ul>

        </div>
    </div>

</div>