@using GSP.BLL.Resources
@section scripts {
    <script src="~/js/Controllers/categoryController.js"></script>
    <script src="~/js/Services/categoryService.js"></script>
    <script src="~/js/Controllers/gameController.js"></script>
    <script src="~/js/Services/gameService.js"></script>
}

<form method="post" asp-action="AddGame" asp-controller="Game" enctype="multipart/form-data">
    <div class="container ng-cloak form-horizontal" ng-controller="gameController" ng-model="game" ng-init="getCategories()">
        @Html.Partial("_AddCategory")

        <toaster-container></toaster-container>
        <div class="col-md-6 col-md-offset-3 margin-top-1">
            <h2 class="center-align">@Labels.AddGameForm</h2>

            <div class="form-group">
                <label class="col-sm-3 control-label">@Entities.Game_Name:</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="Name" name="Name" placeholder="@Entities.Game_Name" class="form-control" autofocus required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@Entities.Game_Category:</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn blue" data-target="#addCategory" data-toggle="modal" type="button">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>

                        <select ng-model="categor" class="form-control width-70" name="CategoryId">
                            <option ng-repeat="categor in category" value="{{categor.CategoryId}}">
                                {{categor.Name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@Entities.Game_Description:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" ng-model="Description" name="Description" required> </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@Entities.Game_Price:</label>
                <div class="col-sm-9">
                    <input type="number" ng-model="Price" name="Price" placeholder="@Entities.Game_Price" class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@Entities.Game_Photo:</label>
                <div class="col-sm-9">
                    <input class="ui basic button form-control" type="file" name="file" />
                </div>
            </div>

            <div class="form-group center-content">
                <div class="col-md-8">
                    <button type="submit" class="ui primary button form-control">@Commands.AddGame</button>
                </div>
            </div>
        </div>
    </div>

</form>

