@model GSP.WebClient.ViewModels.GameViewModel

@section scripts {
    <environment names="Development">
        <script src="~/js/Services/orderService.js"></script>
        <script src="~/js/Services/rateService.js"></script>
        <script src="~/js/Controllers/rateController.js"></script>
    </environment>
}

<div ng-controller="rateController" ng-init="getGameById(@Model.GameId);getRecomendationToGame(@Model.GameId);" class="row ng-cloak margin-top-2">
    <toaster-container></toaster-container>
    <div class="row">
        <div class="col-lg-3 margin-left-5 margin-right-5">
            <div class="ui card">
                <div class="content">
                    <img class="ui avatar image" ng-src="{{CurrentGame.PhotoData}}" /> {{CurrentGame.Name}}
                </div>
                <div class="image">
                    <img ng-src="{{CurrentGame.PhotoData}}" />
                </div>
                <div class="content">
                    <span class="right floated">
                        <i class="heart outline like icon"></i>
                        {{Feeds.length}} likes
                    </span>
                    <i class="comment icon"></i>
                    {{Feeds.length}} comments
                </div>
                <div class="description margin-left-5 margin-right-5">
                    <p>
                    <p class="margin-left-2">
                        Category: {{CurrentGame.CategoryName}}
                    </p>

                    <p class="margin-left-2">
                        Description: {{CurrentGame.Description}}
                    </p>

                    <div class="pull-right">
                        <div class="ui tag labels" style="display: inline-block;">
                            <a class="ui label">
                                ${{CurrentGame.Price}}
                            </a>
                        </div>
                    </div>
                    </p>
                </div>
                <div class="ui two bottom attached buttons">
                    <div class="ui button" ng-click="addToBucket('@User.Identity.Name',game.GameId)">
                        <i class="add to cart icon"></i>
                        Buy
                    </div>
                    <a class="ui primary button" ng-href="https://www.youtube.com/results?search_query={{CurrentGame.Name}}">
                        Watch
                    </a>
                </div>
            </div>

            <form class="ui reply form" ng-model="feed">
                <div class="field">
                    <p>
                        <strong>
                            Leave your feedback
                        </strong>
                    </p>
                    <textarea ng-model="feed.feedContent"></textarea>
                    <p>
                        <strong>Put mark</strong>
                        <select ng-model="feed.rating" init-select>
                            @foreach (var item in Model.Ratings)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </p>
                </div>
                <button class="ui primary submit labeled icon button"
                        ng-click="createFeed(CurrentGame.GameId,'@User.Identity.Name')">
                    <i class="icon edit"></i> Add Comment
                </button>
            </form>
        </div>

        <div class="col-lg-6 col-lg-offset-1" ng-init="getFeedsByGameId(@Model.GameId)">
            <div class="ui feed">
                <div class="event" ng-repeat="item in Feeds" style="margin-bottom:2%;">
                    <div class="ui avatar image">
                        <img ng-src="{{CurrentGame.PhotoData}}" alt="icon" />
                    </div>
                    <div class="content">
                        <div class="summary">
                            <span>{{item.Customer}}</span>
                            <div class="date">
                                {{item.CreatedOn}}
                            </div>
                        </div>
                        <div class="extra text">
                            Rating: {{item.DisplayRating}}
                        </div>
                        <div class="extra text">
                            Comment: {{item.Comment}}
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row margin-top-5">
        <div class="col-lg-12">
            <div class="row margin-bottom-2">
                <h2 class="ui header center-align">
                    You also can buy this game
                </h2>

                <div class="ui five column grid margin-top-1">

                    <div class="column" ng-repeat="recomendGames in RecomendGames">
                        <div class="ui fluid card">
                            <div class="image">
                                <img ng-src="{{recomendGames.PhotoData}}" alt="{{recomendGames.PhotoData}}">
                            </div>
                            <div class="content">
                                <div class="header margin-bottom-2">{{recomendGames.Name}}</div>
                                <div class="description">
                                    <p class="descriptionGame">{{recomendGames.Description}}</p>
                                    <div style="margin-left:65%;">
                                        <div class="ui red tag labels pull-right">
                                            <a class="ui label">
                                                ${{recomendGames.Price}}
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="ui two bottom attached buttons">
                                <div class="ui button" ng-click="addToBucket('@User.Identity.Name',recomendGames.GameId)">
                                    <i class="add to cart icon"></i>
                                    Buy
                                </div>
                                <a class="ui primary button"
                                   ng-href="https://www.youtube.com/results?search_query={{recomendGames.Name}}">
                                    Watch
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>