@using GSP.BLL.Resources
@using GSP.Domain.Customers
<!DOCTYPE html>
<html ng-app="GameStoreApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameStore</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/AngularJS-Toaster/toaster.css" />
        <link rel="stylesheet" href="~/lib/angular-slider/angular-slider.css" />
        <link href="~/lib/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
        <link href="~/lib/select-2/css/select2.css" rel="stylesheet" />
        <link href="~/lib/semantic/dist/semantic.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="~/lib/semantic/dist/components/popup.css">
        <link href="~/lib/angular-busy/angular-busy.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </environment>

</head>
<body>
    <div class="ui top fixed menu ng-cloak" @(User.IsInRole(Role.User.ToString()) ? $"ng-controller=orderController ng-init=getGamesFromBucket('{User.Identity.Name}');" : string.Empty)>
        <div class="item">
            <img src="~/images/icon.png" />
        </div>
        @if (User.IsInRole(Role.Admin.ToString()))
        {
            <a class="item" asp-controller="Game" asp-action="AddGame">@Title.AddGame</a>
            <a class="item" asp-controller="Game" asp-action="EditOrDeleteGame">@Title.EditGame</a>
            <a class="item" asp-controller="Order" asp-action="Order">@Title.ShowAllOrder</a>
        }
        else if(User.IsInRole(Role.User.ToString()))
        {
            <a class="item" asp-controller="Game" asp-action="ShowGame">@Title.Games</a>
            <a class="item" asp-controller="Order" asp-action="Bucket">
                <span class="margin-right-5-fixed">Bucket</span>
                
                @if (User.IsInRole(Role.User.ToString()))
                {
                    <span ng-show="CommonItem > 0" class="badge label-success">{{CommonItem}}</span>
                }
            </a>
            <a class="item" asp-controller="Order" asp-action="Order">@Title.ShowMyOrder</a>
            <a class="item" asp-controller="Game" asp-action="OwnGameList">@Title.MyGames</a>
        }
        <div class="right menu">

            <div class="item">
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                        <button type="submit" class="ui primary button">@Title.LogOut</button>
                    </form>
                }
                else
                {
                    <a class="ui primary button" asp-controller="Account" asp-action="Login">@Title.Login</a>
                }
            </div>
        </div>
    </div>
    <div class="container body-content margin-top-50">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-busy/angular-busy.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/angular-slider/angular-slider.js"></script>
        <script src="~/lib/underscore/underscore.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
        <script src="~/lib/semantic/dist/components/transition.js"></script>
        <script src="~/lib/semantic/dist/components/dropdown.js"></script>
        <script src="~/lib/semantic/dist/components/sidebar.js"></script>
        <script src="~/lib/semantic/dist/components/transition.js"></script>
        <script src="~/lib/semantic/dist/components/checkbox.js"></script>

        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/select-2/js/select2.full.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/GameStoreApp.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/AngularJS-Toaster/toaster.js"></script>
        <script src="~/js/Services/AlertService.js"></script>
        <script src="~/js/Directives/datepickerDirective.js"></script>
        <script src="~/js/Directives/selectDirective.js"></script>
        <script src="~/js/Services/orderService.js"></script>
        <script src="~/js/Controllers/orderController.js"></script>
    </environment>

    @RenderSection("scripts", required: false)

</body>
</html>
